* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color:whitesmoke ;
    background: linear-gradient(to right, #c2c2c2, #9db1f4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: #FCF6F5FF;
    border-radius: 150px;
    box-shadow: 0 5px black;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
}

.container a {
    color: black;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    background-color: #d0dffa;
    color: black;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.5px;
    margin-top: 10px;
    padding: 10px 45px;
}

form {
    background-color: #FCF6F5FF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 0 40px;
}

.container input {
    background-color: #eee;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    padding: 10px 15px;
    width: 100%;
    margin: 8px 0;
    outline: none;
}

.signup,
.signin {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.signin {
    z-index: 2;
    width: 50%;
    left: 0;
}

.container.active .signin {
    transform: translateX(100%);
}

.signup {
    z-index: 1;
    width: 50%;
    left: 0;
    opacity: 0;
}

.container.active .signup {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.icons {
    margin: 20px 0;
}

.icons a {
    border: 1px solid grey;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.container2 {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    border: 150px;
    overflow: hidden;
    z-index: 1000;
    transition: all 0.6s ease-in-out;
}

.container.active .container2 {
    transform: translateX(-100%);
    border-radius: 150px;
}

.toggle {
    background-color: #89ABE3FF;
    height: 100%;
   /* background: linear-gradient(to right, rgb(160, 244, 247), rgb(152, 229, 243)); */
    color: #fff;
    position: relative;
    left: -100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-panel {
    
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    text-align: center;
    padding: 0 30px;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right {
    transform: translateX(200%);
}

.container.active .toggle {
    transform: translateX(50%);
}
